@import '../../common/_extends';
@import '../../common/_mixin';

.adminMain {
  @extend %main;
  .title {
    @extend %title;
  }
  .container {
    display: grid;
    gap: 2rem;
  }
}

@include mobile {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@include tablet {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include desktop {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
