@import '../../common/_colors';
@import '../../common/_extends';

.join {
  @extend %main;
  .title {
    @extend %title;
  }
  .container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .label {
        align-self: flex-start;
        margin-bottom: 1rem;
      }
      .warning {
        margin-bottom: 1rem;
      }
      .input {
        width: 100%;
        border-radius: 2rem;
        margin-bottom: 1.5rem;
        padding: 1rem;
        border: 2px solid $lightGray;
        &:focus {
          outline: none;
          border-color: $lightGreen;
        }
      }

      .btn {
        width: 100%;
        margin: 1rem 0 2rem;
        padding: 1rem 0;
        background-color: $lightGreen;
        font-weight: 600;
        text-align: center;
        color: $white;
        border-radius: 4px;
        transition: color 0.3s ease;
      }
    }
  }
}
