@import '../../common/_colors';

.dropdown {
  position: absolute;
  padding: 1rem 1.5rem;
  top: calc(5vh + 13.5px);
  background-color: white;
  border: 1px solid $mainGreen;
  border-top: none;
  .menuList {
    .menu {
      margin-bottom: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 1rem;
      color: black;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
