@import '../../common/_colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .orders {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
  }
  .paginationContainer {
    margin-top: 2rem;
    display: flex;
    .paginationBtn {
      padding: 1rem;
      background-color: $mainGreen;
      .paginationIcon {
        font-size: 18px;
      }
    }
    .paginationNumBox {
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 1rem 1.5rem;
      background-color: #fff;
      .paginationNum {
        font-size: 18px;
      }
    }
  }
}
