@import '../../common/_colors.scss';

.orderItemCard {
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  &:last-child {
    margin-bottom: 0px;
  }
  .infoBox {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    .image {
      width: 80px;
      height: 80px;
    }
    .itemName {
      margin-left: 1rem;
    }
  }
  .priceBox {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    .priceNQuantity {
      font-weight: 500;
    }
  }
  .buttonBox {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    .button {
      padding: 0.8rem 1rem;
      border-radius: 4px;
      color: $darkGray;
      background-color: $mainGreen;
      font-weight: 500;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      transition: all 0.3s ease;
      &:hover {
        color: white;
      }
    }
  }
}
