.orderItemCard {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid lightgray;
}

.cardContainer {
  padding: 1rem 1.5rem;
  display: flex;
}

.imageContainer {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100px;
  height: 100px;
}

.metaContainer {
  flex-basis: 60%;
  padding: 0 1.5rem;
  flex-direction: column;
  justify-content: space-around;
}

.itemName {
  margin-bottom: 1rem;
}

.priceNQuantity {
  font-weight: 600;
}

.btnContainer {
  flex-basis: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cartBtn {
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: green;
  color: white;
  font-weight: 500;
}
