@import '../../common/_colors.scss';

.orderItemCard {
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $lightGray;
  &:last-child {
    margin-bottom: 0px;
  }
  .infoBox {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    .image {
      width: 80px;
      height: 80px;
    }
    .itemName {
      margin-left: 1rem;
    }
  }
  .priceBox {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    .priceNQuantity {
      font-weight: 500;
    }
  }
  .buttonBox {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    .button {
      color: $white;
      background-color: $lightGreen;
      padding: 0.8rem 1rem;
      border-radius: 2rem;
      letter-spacing: 1.1px;
      font-weight: 500;
    }
  }
}
