.adminMainCard {
  height: 300px;
  flex-basis: 32%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #81b29a;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.adminMainCard__titleContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.adminMainCard__iconBox {
  font-size: 24px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43aa8b;
  border-radius: 1rem;
  margin-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.adminMainCard__icon {
  color: white;
}

.adminMainCard__title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.adminMainCard__contentContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.adminMainCard__contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminMainCard__contentHead {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #e8e8e4;
  margin-bottom: 1rem;
}

.adminMainCard__content {
  font-size: 24px;
  color: white;
}

.adminMainCard__button {
  padding: 1rem 2rem;
  background-color: white;
  color: #81b29a;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
