.login {
  padding-top: 8vh;
}

.login__slider {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 45%;
  height: 100vh;
}

.login__container {
  margin-left: 45%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 500;
  text-align: left;
}

.login__form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__label {
  align-self: flex-start;
  margin-bottom: 1rem;
}

.login__input {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid lightgray;
}

.login__btn {
  width: 100%;
  margin: 1rem 0 2rem;
  padding: 1rem 0;
  background-color: #1f7a8c;
  font-weight: 600;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.login__joinBox p {
  word-spacing: 1px;
}

.joinLink {
  font-weight: 600;
  color: #1f7a8c;
}
