@import '../../common/_colors';

.fileUploadBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.zone {
  width: 300px;
  height: 240px;
  border: 3px dashed $lightGray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  line-height: 1.2;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    border-color: $lightGreen;
    .img {
      color: $lightGreen;
    }
  }
  .img {
    color: $lightGray;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
  }
}

.previews {
  display: flex;
  width: 350px;
  height: 240px;
  overflow-x: scroll;
  background-color: $lightGray;
}

.image {
  width: 350px;
  height: 240px;
}
