@import '../../common/_extends';
@import '../../common/_colors';

.adminProducts {
  @extend %main;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .title {
    @extend %title;
  }
  .uploadBtn {
    padding: 0.8rem 1rem;
    margin-bottom: 3.5rem;
    border: 2px solid $red;
    border-radius: 2rem;
    font-weight: 600;
    background-color: $red;
    color: $white;
  }
  .itemsContainer {
    width: 100%;
    .headContainer {
      display: flex;
      border-top: 3px solid black;
      padding: 1rem;
      .head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 20%;
        h2 {
          font-weight: 600;
        }
      }
    }
    .productCard {
      display: flex;
      padding: 1rem;
      border-top: 1px solid gainsboro;
    }
    .productCard:last-child {
      border-bottom: 1px solid gainsboro;
    }
    .content {
      flex-basis: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .image {
      width: 70px;
      height: 70px;
    }
    .detailBtn {
      padding: 0.8rem 1rem;
      color: $white;
      background-color: $lightGreen;
      border-radius: 2rem;
      font-weight: 600;
      border: 1px solid $lightGreen;
      transition: all 0.3s ease-in-out;
    }
  }
}
