@import '../../common/_colors.scss';

.footer {
  height: 15vh;
  margin-top: auto;
  padding: 0 10vw;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
