@import '../../common/_colors.scss';

.footer {
  height: 15vh;
  margin-top: auto;
  background-color: $mainGreen;
  padding: 1rem 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
