@import '../../common/_colors.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.label {
  margin-bottom: 2rem;
  font-weight: 600;
  color: $darkGray;
}

.input {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 2px solid $lightGray;
  &:focus {
    outline: none;
    border: 2px solid $lightGreen;
  }
}

.button {
  width: 100%;
  margin: 1rem 0 2rem;
  padding: 1rem 0;
  background-color: $lightGreen;
  font-weight: 500;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordTitle {
  margin-bottom: 2rem;
  font-weight: 600;
  color: $darkGray;
}

.warning {
  margin-bottom: 1rem;
}
