.product {
  padding: 15vh 10vw 0;
}

.back__container {
  margin-bottom: 4rem;
}

.back__container button {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.back__container button span {
  margin-left: 0.5rem;
  letter-spacing: 1px;
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}

.imageContainer {
  flex-basis: 48%;
}

.productImg {
  width: 100%;
  height: 350px;
}

.infoContainer {
  height: 350px;
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name {
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 1px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.description {
  font-style: italic;
  margin-bottom: 2rem;
}

.QtyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.QtyBtnContainer {
  width: 140px;
  height: 40px;
  border-radius: 4px;
}

.QtyBtn {
  all: unset;
  text-align: center;
  cursor: pointer;
  border: none;
  width: 30%;
  height: 100%;
  cursor: pointer;
  background-color: #eeebeb;
  border-radius: 50%;
}

.input {
  all: unset;
  border: none;
  text-align: center;
  width: 40%;
}

.btnContainer {
  display: flex;
  gap: 4px;
}

.cartBtn,
.shopNowBtn {
  all: unset;
  text-align: center;
  cursor: pointer;
  border: none;
  flex: 1 1 45%;
  padding: 12px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 1px;
}

.cartBtn {
  background-color: #c1121f;
  color: white;
}

.shopNowBtn {
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

.shopNowBtn:hover {
  background-color: black;
  color: white;
}
