@import '../../common/_extends';

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @extend %main;
}

.title {
  @extend %title;
}

.section {
  display: flex;
  gap: 10rem;
}

.usernameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.label {
  margin-bottom: 2rem;
  font-weight: 600;
}

.input {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid lightgray;
}

.button {
  width: 100%;
  margin: 1rem 0 2rem;
  padding: 1rem 0;
  background-color: green;
  font-weight: 600;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordTitle {
  margin-bottom: 2rem;
  font-weight: 600;
}

.warning {
  margin-bottom: 1rem;
}
