@import '../../common/_extends';
@import '../../common/_colors';
@import '../../common/_mixin';

.profile {
  @extend %main;
}

.title {
  @extend %title;
}

.favoriteCard {
  width: 100%;
}

@include mobile {
  .profileEditCard {
    display: block;
  }
}

@include tablet {
  .profileEditCard {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }
}

@include desktop {
  .profileEditCard {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }
}
