@import '../../common/_extends';
@import '../../common/_colors.scss';

.profile {
  @extend %main;
}

.title {
  @extend %title;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileEditCard {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.favoriteCard {
  width: 100%;
}
