.card {
  margin-bottom: 1rem;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 250px;
  height: 250px;
}

.image {
  width: 250px;
  height: 250px;
}

.name {
  margin: 1rem 0;
  font-size: 14px;
}

.price {
  font-weight: 600;
  font-size: 18px;
}
