.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.date {
  color: darkgray;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 1rem;
}

.metaContainer {
  border: 1px solid lightgray;
  padding: 1.2rem 1.5rem;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.title {
  font-weight: 500;
  font-size: 18px;
}

.infoContainer {
  padding-top: 1rem;
  display: flex;
}

.image {
  width: 100px;
  height: 100px;
}

.infoBox {
  padding: 0 1rem;
}

.orderNum {
  font-size: 15px;
  margin-bottom: 0.8rem;
}

.price {
  font-weight: 500;
  font-size: 1rem;
}

/*



const InfoContainer = styled.div`
  padding-top: 1rem;
  display: flex;
`;

const Image = styled.img`
  width: 100px;
  height: 100px;
`;

const InfoBox = styled.div`
  padding: 0.8rem;
  h4 {
    font-size: 15px;
    margin-bottom: 0.8rem;
  }
`;

const Bold = styled.span`
  font-weight: 500;
  font-size: 16px;
`; */
