@import '../../common/_colors';

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 70%;
  .date {
    color: #2d3436;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .metaContainer {
    border: 1px solid $lightGray;
    border-radius: 1rem;
    padding: 1.2rem 1.5rem;
    transition: all 0.3s ease-in;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    &:hover {
    }
    .titleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid $lightGray;
      .title {
        font-weight: 500;
        font-size: 18px;
      }
    }
    .infoContainer {
      padding-top: 1rem;
      display: flex;
      .image {
        width: 100px;
        height: 100px;
      }
      .infoBox {
        padding: 0 1rem;
        .orderNum {
          margin-bottom: 0.8rem;
        }
        .price {
          // font-weight: 500;
          font-size: 1rem;
          margin-bottom: 0.8rem;
        }
        .deliveryStatus {
          font-weight: 500;
        }
      }
    }
  }
}
