.cart {
  padding: 10vh 10vw;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  text-align: center;
}

.cart__container {
  display: flex;
  gap: 5%;
}

.items {
  flex-basis: 65%;
}

.items__headBox {
  display: flex;
  border-top: 3px solid black;
}

.head {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head h2 {
  font-weight: 600;
}

.items__contentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}

.contents {
  width: 100%;
  display: flex;
  border-top: 1px solid lightgray;
}

.content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head:first-child {
  flex-basis: 8%;
}

.head:nth-child(2) {
  flex-basis: 47%;
}

.head:nth-child(3) {
  flex-basis: 25%;
}

.head:last-child {
  flex-basis: 20%;
}

.emptyBox {
  border-top: 1px solid lightgray;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyBox button {
  padding: 1rem 2rem;
  font-weight: 600;
  margin: 1rem 0.5rem;
  border-radius: 4px;
  letter-spacing: 1px;
  background-color: #3d405b;
  color: white;
  letter-spacing: 1px;
}

.back__container {
  margin-top: 2rem;
}

.back__container button {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.back__container button a {
  margin-left: 0.5rem;
  letter-spacing: 1px;
  text-decoration: underline;
  color: #3d405b;
}

.summaryContainer {
  flex-basis: 30%;
  padding: 1.5rem 3rem;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border: 1px solid lightgray;
}

.summary__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.summary__itemsBox,
.summary__priceBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.checkoutBtn {
  padding: 1rem 2rem;
  font-weight: 600;
  margin: 1rem 0.5rem;
  border-radius: 4px;
  letter-spacing: 1px;
  background-color: #55a630;
  color: white;
  letter-spacing: 1px;
}
